.row
  .large-6.large-centered.columns
    %h1 Application/Org Access Request form

.row
  .large-12.columns
    .row.collapse
      .small-10.columns
        %input{:placeholder => "Net Id", :type => "text"}
      .small-2.columns
        %a.button.postfix{:href => "/requests/new"} New Request