.row
  .small-8.columns
    %h3 Current Access
    %h3 Additional Access
    .row
      .small-3.columns
        %label.right.inline{:for => "right-label"} Application Roles:
      .small-9.columns
        %select.js-example-basic-multiple.new_application_role{multiple: 'multiple'}
          = options_from_collection_for_select(@application_roles, 'id', 'app_and_role')
    .row
      .small-3.columns
        %label.right.inline{:for => "right-label"} Orgs:
      .small-9.columns
        %select.js-example-basic-multiple.new_org{multiple: 'multiple'}
          = options_from_collection_for_select(@application_roles, 'id', 'app_and_role')