.row
  .small-8.small-centered.columns
    %h3 Current Access
    %h3 Additional Access
    .row
      .small-3.columns
        %label.right.inline{:for => "right-label"} Application Roles:
      .small-9.columns
        %select.application-role-input{multiple: "multiple"}
          %option Ohio State
          %option Notre Dame
          %option Michigan
          %option Indiana
        
    .row
      .small-3.columns
        %label.right.inline{:for => "right-label"} Orgs:
      .small-9.columns
        %select.js-example-basic-multiple.new-org-input
          / = options_from_collection_for_select(@application_roles, 'id', 'app_and_role')